<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a routerLink="/home" style="text-decoration: none; color: rgba(255, 255, 255, 0.863);">E-Commerce Automotive</a>

  
  <div id="logout" style="display: flex;margin-left: 71%;" (click)="adminLogout()">
    <div class="material-icons" style="margin-top: 4px;">logout</div>
    <div style="margin-left: 4px;">Logout</div>
  </div>
  
  <!-- <a routerLink="/Admin-Authentication/Login" style="margin-left: 71%; font-weight: 500; font-size: 19px; text-decoration: none; color: white;"><div class="material-icons" style="margin-top: 10px;margin-right: 4px;">manage_accounts</div>Admin</a> -->
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'" [opened]="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/Admin/E-commerce/AddProduct"  style="margin-left: 10px;"><mat-icon style="text-indent: -6px; margin-top: -4px;">time_to_leave</mat-icon>Add Product</a>
      <a mat-list-item routerLink="/Admin/E-commerce/Products" style="margin-left: 9px;"><mat-icon style="text-indent: -6px; margin-top: -2px;">shopping_cart</mat-icon>View Products</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <!-- Add Content Here -->
    <router-outlet >
            
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>