<div style="position: fixed;">
    <div>
        <div >
            <a routerLink="/User-Authentication"><img src="./assets/OIP.jfif"></a>
            
        </div>
        
    
        <div>
            <a routerLink="/Admin-Authentication"><img src="./assets/OIP (1).jfif"></a>
            
        </div>
    </div>
    
    <div id="login">
        <h2 routerLink="/User-Authentication">User</h2>
        <h2 routerLink="/Admin-Authentication" style="margin-left: 305px;">Admin</h2>
    </div>
</div>



